h3 {
	float: left;
	margin: 0 0 10px 0;
}

input {
	padding: 5px;
	width: 60%;
}

select {
	background: #dadada;
	padding: 5px;
	width: 38%;
}

.description {
	clear: both;
	float: left;
	font-size: 0.9em;
}

.currency-calculator {
	border: 1px solid black;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	max-width: 233px;
}

#disclaimer {
	float: right;
	margin: 20px 0 0 0;
}

@media (min-width: 501px) {

	.currency-calculator {
		float: left;
		width: 33%;
	}

}